
html{
   font-size: 10px;
}
.container{
    width: 100vw;
    height: 100vh;
    background: #8CC461;
    border: 2px solid black;
}
.box{
   width: 650px;
   height: 148px;
   position: fixed;
   top: 62px;
   left: 240px;
   border-radius: 13px;
   border: 2px solid white;
   color: white;
   }
   .leftside{
     font-family: Roboto;
   font-size: 40px;
   font-weight: 600;
   line-height: 47px;
   letter-spacing: 0.1em;
   text-align: left;
  
   }
    
   
   
   .rock{
   width: 135px;
   height: 37px;
   top: 78px;
   left: 258px;
   
   }
   .papper{
    width: 150px;
   height: 37px;
   top: 120px;
   left: 258px;
   
   }
   .scissor{
   width: 235px;
   height: 37px;
   top: 163px;
   left: 259px;
   
   }
   
   .computer_score{
     font-family: Roboto;
     font-size: 17px;
     font-weight: 600;
     line-height: 20px;
     letter-spacing: 0.1em;
     text-align: left;
     background: #656565;
 
 
 
    width: 139px;
   height: 128px;
   /* top: 77px;
   left: 713px; */
   top: -101px;
   left: 338px;
   border-radius: 9px;
    background: #FFFFFF;
    color:black;
    display:inline-block;
    position:relative;
   }
   
   .your_score{
     font-family: Roboto;
     font-size: 17px;
     font-weight: 600;
     line-height: 20px;
     letter-spacing: 0.1em;
     text-align: left;
     background: #656565;
 
 
 
   width: 139px;
   height: 128px;
   top: -120px;
   left: 356px;
   border-radius: 9px;
   background: #FFFFFF;
   color:black;
   display:inline-block;
   position:relative;
   }

   .ellipse3{
  
      background: #FFFFFF;
      box-shadow: 3px 0px 21px 1px #00000033 inset;
      width: 110px;
      height: 110px;
      top: 330px;
      left: 277px;
      border-radius:50% ;
      /* background: linear-gradient(0deg, #BD00FF, #BD00FF),  */
      linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
      border: 16px solid #BD00FF;
      box-shadow: -1px 1px 11px 0px #00000059;  
      position: relative;
    }
    .hand_position3{
      top: 22px;
      left: 34px;
      position: relative;
    }
    .ellipse4{
      width: 144px;
      height: 144px;
      top: 163px;
      left: 252px;
      box-shadow: 3px 0px 21px 1px #00000033 inset;
      border-radius:50% ;
      /* background: linear-gradient(0deg, #BD00FF, #BD00FF),  */
      linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
      border: 24px solid  #188823c9;
      ;
      box-shadow: -1px 1px 11px 0px #00000059;  
      position: relative;
      }
.ellipse5{
 width: 193px;
height: 193px;
top: -44px;
 left: -45px;
  box-shadow: 3px 0px 21px 1px #00000033 inset;
  border-radius:50% ;
         /* background: linear-gradient(0deg, #BD00FF, #BD00FF),  */
  linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border: 20px solid #1DA82BC9;
  box-shadow: -1px 1px 11px 0px #00000059;  
  position: relative;
}
.ellipse6{
  width: 232px;
  height: 232px;
  top: -40px;
  left: -40px;
  border: 20px solid #2E9A2563;

 border-radius:50% ;  
 box-shadow: 0px 1px 62px 0px #00000021;
 position: relative; 
}
 
.ellipse1{
      width: 110px;
      height: 110px;
      top: 3px;
      left: 745px;
      border-radius: 50%;
      cursor: pointer;
      background: #FFFFFF;
       linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
       border: 16px solid #FFA943;
        box-shadow: -1px 1px 11px 0px #00000059;
        position: relative;
      
      }
      .hand_position1{
         top: 20px;
         left: 20px;
         position: relative;
       }
